.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: black;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 170px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.card-container card i {
  padding: 24px;
}
/*svg.material-icons {*/
/*  height: 24px;*/
/*  width: auto;*/
/*}*/

/*svg.material-icons:not(:last-child) {*/
/*  margin-right: 8px;*/
/*}*/

/*.card svg.material-icons path {*/
/*  fill: #888;*/
/*}*/

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}
//
//.search-div {
//  border-radius: 4px;
//  border: 1px solid #eee;
//  width: auto;
//}
.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  width: 310px;
  //height: 40px;
  height: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

//.card-container .card:not(:last-child) {
//  margin-right: 0;
//}

//.card.card-small {
//  height: 12px;
//  width: 168px;
//}

//.card-container .card:not(.highlight-card) {
//  cursor: pointer;
//}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.alert {
  padding: 12px;
  background-color: #f44336;
  color: white;
  margin: 8px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: auto;
    margin: 8px 0;
  }
}
