@import '../../../assets/css/variables.less';
.search-div {
  text-align: center;
}

.card-container card i {
  padding: 24px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  width: 310px;
  //height: 40px;
  //overflow: scroll;
  height: auto;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.alert {
  padding: 12px;
  background-color: #f44336;
  color: white;
  margin: 8px;
}
.weatherDiv{
  float: left;
}
span.a {
  display: inline; /* the default for span */
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}
//form input, button {
//  padding: 10px;
//  font-size: 16px;
//}

//.closebtn {
//  margin-left: 15px;
//  color: white;
//  font-weight: bold;
//  float: right;
//  font-size: 22px;
//  line-height: 15px;
//  cursor: pointer;
//  transition: 0.3s;
//}
//
//.closebtn:hover {
//  color: black;
//}

/* Responsive Styles */
//@media screen and (max-width: 767px) {
//
//  .card-container > *:not(.circle-link) ,
//  .terminal {
//    width: 100%;
//  }
//
//  .card:not(.highlight-card) {
//    height: auto;
//    margin: 8px 0;
//  }
//}


// red error border
.input-control.ng-touched.ng-invalid {
  -webkit-box-shadow: 0 0 1px 1px @error-font-color;
  -moz-box-shadow: 0 0 1px 1px @error-font-color;
  box-shadow: 0 0 2px 1px @error-font-color;
  .border(@error-font-color);
}
.border(@color) {
  border: 1px solid @color;
}
// on error
.error-div {
  // color: @error-font-color;
  color: #fff;
  padding: 12px 18px;
  margin-bottom: 40px;
  // font-size: 0.9rem;
  border-radius: 1px;
  background-color: @error-background-color;
}
// on success
.success-div {
  color: @success-font-color;
  padding: 12px 18px;
  //margin: 40px 0px;
  margin-bottom: 40px;
  border-radius: 1px;
  background-color: @success-background-color;
}
// info
.notify-div {
  color: @info-font-color;
  padding: 12px 18px;
  margin-bottom: 40px;
  border-radius: 1px;
  background-color: @info-background-color;
}

  form button {
    padding: 11px;
//    border-top-right-radius: 6px;
//    border-bottommatin-right-radius: 6px;
//    background: #8b9dc3;
//  }
//  &:hover {
//    &:after {
//      background: blue;
    }
//  //& :hover {
//  //  background-color: green;
//  //  cursor: pointer;
//  //}
//}
form input {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 10px;
  font-size: 16px;
  .border(@form-border);
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;

  &:hover {
    background-color: @color-fourth;
  }

  &:focus {
    -webkit-box-shadow: 0 0 2px 1px @primary-color;
    -moz-box-shadow: 0 0 2px 1px @primary-color;
    box-shadow: 0 0 2px 1px @primary-color;
    border: 1px solid @primary-color;
    background: @input-focus-background;
  }
}
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 20px;
  width: 20px;
  margin: 0px auto;
  -webkit-animation: rotation .8s infinite linear;
  -moz-animation: rotation .8s infinite linear;
  -o-animation: rotation .8s infinite linear;
  animation: rotation .8s infinite linear;
  border-left: 6px solid @primary-color;
  border-right: 6px solid @primary-color;
  border-bottom: 6px solid @primary-color;
  border-top: 6px solid @color-secondary;
  border-radius: 100%;
}
