<!-- Highlight Card -->
<div class="search-div">

  <!--    <span>{{ title }} app is running!</span>-->
  <form class="example">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fal fa-search"></i></button>
  </form>

</div>
<div *ngIf="error" class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Danger!</strong> API ERROR.
</div>
<!-- Resources -->
<!--  <h2>Resources</h2>-->
<!--  <p>Here are some links to help you get started:</p>-->
<div class="card-container">
  <div class="card" [@fadeInOut]>
    <div *ngIf="!isLoading">
      {{report!.city}}
      <img src="http://openweathermap.org/img/wn/{{report!.icon}}@2x.png" />
      {{report!.temp | number: '1.0-0'}}
      {{report!.description}}
    </div>
  </div>
  <div class="card" [@fadeInOut]>

  </div>
</div>
